{
  "plugins": [
    "prettier-plugin-organize-imports",
    "prettier-plugin-jsdoc",
    "prettier-plugin-tailwindcss"
  ],
  "endOfLine": "lf",
  "organizeImportsSkipDestructiveCodeActions": true,
  "trailingComma": "es5",
  "semi": true,
  "tailwindFunctions": ["clsx", "cn"]
}
